
.centerButton {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnEdit {
    border: 1px solid #ddd;
    padding: 5px 27px;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
}

.btnEdit:hover {
    background-color: #888888;
    transition: .3s ease-in;
    color: #fff;
}
