.edit-posts-form {
    border: 0.5px solid #ccc;
    margin: 0 auto; /* Centers the form horizontally */
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the form vertically */
} 
  
  
  
  
  